* {
  font-family: Arial, sans-serif;
}

.banner {
  background-image: url('../Resources/Images/banner-background.png');
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.banner-column {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.banner-column h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.banner-column a {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-column {
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-column:last-child {
  flex: 0 0 calc(10% - 20px);
  max-width: calc(10% - 20px);
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
}

.social-links a:hover {
  background-color: #fff;
  color: #333;
}

.footer-bottom {
    padding-left: 160px;
}