.logo img {
  border: 12px solid #F78CB2;
}

.navigation-bar {
  background-color: #EAE1D3;
}


#hero {
  height: 40em;
  width: 100%;
  background-image: url('../Resources/Images/cakesTables.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  justify-content: center;
}

#page-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #EAE1D3;
  font-size: 10em;
  position: relative;
  top: 0.2em;
}

#page-location {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: -10em;
  color: #EAE1D3;
} 


.icons img {
  width: 50%;
  height: 50%;
  margin: 0 0.5em 0 2em;
}

.icons a img:hover {
  transform: scale(1.02);
}
