  
  /* styles for nav bar */
  .navigation-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 4%;
    right: 4%;
    height: 65px;
    background-color: rgba(234,225,211,0.7);
    border-radius: 50px;
    padding-right: 7%;
    padding-left: 7%;
  }
  
  .navigation-bar a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 20px;
    border-radius: 50px;
    display: inline-block;
  
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
	left: -5em;
    z-index: 1;
  }
  
  .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 140px;
    border-radius: 50%;
    border: 12px solid white;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    font-weight: bold;
    color: black;
  }
  
  .menu a:hover {
    color: deeppink;
  }
  
  @media (max-width: 1210px) {
  .navigation-bar {
    padding-right: 2%;
    padding-left: 2%;
  }
  }
  
  @media (max-width: 996px) {
  .navigation-bar {
    flex-direction: column;
    height: 140px;
    padding-right: 2%;
    padding-left: 2%;
  }
  
  .menu a {
    text-align: center;
    width: 100%;
  }
  
  .logo a {
    text-align: center;
    padding: 50%;
  }
  }


  header {
	height: 40em;
	left: 0;
	margin-bottom: 5em;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
  
}

#hero {
	height: 40em;
	width: 100%;
	background-image: url('../Resources/Images/cakesTables.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: grid;
	justify-content: center;
}

#page-title {
	font-size: 10em;
	color: rgb(0, 0, 0);
	position: relative;
	top: 0.2em;
}

#page-location {
	color: rgb(0, 0, 0);
	font-size: large;
	font-weight: 600;
	text-align: center;
	position: relative;
	top: -10em;
} 

.icons img {
	width: 20%;
	height: 20%;
	margin: 0 0.5em 0 0.5em;
}
