/*nav bar styles*/
.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45px;
  left: 4%;
  right: 4%;
  height: 65px;
  background-color: rgba(234,225,211,0.7);
  border-radius: 50px;
  padding-right: 7%;
  padding-left: 7%;
}

.navigation-bar a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 20px;
  border-radius: 50px;
  display: inline-block;

}
/*logo styles*/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  z-index: 1;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 140px;
  border-radius: 50%;
}

/*menu and header related styles*/
.menu {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.menu a:hover {
  color: deeppink;
}

@media (max-width: 1210px) {
.navigation-bar {
  padding-right: 2%;
  padding-left: 2%;
}
}

@media (max-width: 996px) {
.navigation-bar {
  flex-direction: column;
  height: 140px;
  padding-right: 2%;
  padding-left: 2%;
}

.menu a {
  text-align: center;
  width: 100%;
}

.logo a {
  text-align: center;
  padding: 50%;
}
}

.icons img {
  width: 50%;
  height: 50%;
  margin: 0 0.5em 0 2em;
}

.icons img:hover {
  transform: scale(1.02);
}

.search-container input {
        width: 20em;
}

.header-search-bar {
    display: flex;
    flex-direction: row;
}

.header-search-bar input {
    width: 17em;
    margin-right: 5%;
}

    