/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

body {
	font-family: Open Sans, sans-serif;
	color: #333
}

header {
	position: relative;
	background-color: #f572a1;
	padding: 0%;
	height: 150px;
	width: auto;
}


  
  .navigation-bar a {
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0 20px;
	border-radius: 50px;
	display: inline-block;
  
  }
  
  .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	position: relative;
	z-index: 1;
  }
  
  .logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 140px;
	border-radius: 50%;
	border: 12px solid white;
  }
   
  .menu {
	display: flex;
	font-family: 'Playfair Display', serif;
	font-size: 23px;
	font-weight: bold;
	color: black;
  }
  
  .menu a:hover {
	color: deeppink;
  }

  .menu img{
	padding-left: 15px;
	height: 23px;
	display: inline;  
}
  
  @media (max-width: 1210px) {
  .navigation-bar {
	padding-right: 2%;
	padding-left: 2%;
  }
  }
  
  @media (max-width: 996px) {
  .navigation-bar {
	flex-direction: column;
	height: 140px;
	padding-right: 2%;
	padding-left: 2%;
  }
  }
  
  .menu a {
	text-align: center;
	width: 100%;
  }
  
  .logo a {
	text-align: center;
	padding: 25%;
  }
  


.product {
	background-color: #fff;
	display: flex;
	position: static;
	justify-content: center;
	max-width: 80%;
	margin-top: 100px;
	padding: 0;
  	margin-bottom: 50px;
}

.product img {
	max-width: 50%;
	margin-right: 50px;
	height: 500px;
  }
  
.product-info {
	max-width: 50%;
}
  
.product-info h2 {
	font-family: Ubuntu, sans-serif;
	font-size: 36px;
	margin-bottom: 21px;
}

.product p {
	padding-bottom: 10%;
	padding: auto;
}

.subext {
	padding-top: 15%;
	padding-left: 1%;
	font-size: 16px;
}

.subext h6{
	font-size: 14px;
	padding-bottom: 5%;
}


.product-info a {
	background-color: #f572a1;
	color: #fff;
	display: inline-flex;
	align-items: center;
	padding: 15px 15px;
	border-radius: 100px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
  }
  
.product-info a:hover {
	background-color: #141514;
  }

.quantity {
	/*display: -moz-inline-grid;*/
	display: inline-block;
	align-items: center;
	margin-left: 10px;
	margin-right: 30px;
	padding-bottom: 5px;
}

.quantity label {
	margin-right: 5px;
}

footer {
	background-color: #CD4274;
	text-align: center;
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
}

.footer-column ul{
	list-style: none;
}

.footer-column{
	width: 33.33%;
	padding: 20px;
	text-align: center;
}

.footer-column h3{
	color: #d9d9d9;

}

.footer-column a{
	color: #fff;
	padding-top: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}