body {
	font-family: Open Sans, sans-serif;
	color: #333
}

.product {
	background-color: #fff;
	display: flex;
	position: static;
	justify-content: center;
	max-width: 80%;
	margin-top: 100px;
	padding: 0;
  	margin-bottom: 50px;
}

.product img {
	max-width: 50%;
	margin-right: 50px;
	height: 500px;
  }
  
.product-info {
	max-width: 50%;
}
  
.product-info h2 {
	font-family: Ubuntu, sans-serif;
	font-size: 36px;
	margin-bottom: 21px;
}

.product p {
	padding-bottom: 10%;
	padding: auto;
	font-size: 20px;
}

.subext {
	margin-top: 5%;
	padding-left: 1%;
	font-size: 16px;
}

.subext h6{
	font-size: 15px;
}


.product-info a {
	background-color: #f572a1;
	color: #fff;
	display: inline-flex;
	align-items: center;
	padding: 15px 15px;
	border-radius: 100px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
  }
  
.product-info a:hover {
	background-color: #141514;
  }

.quantity {
	display: inline-block;
	align-items: center;
	margin-left: 10px;
	margin-right: 30px;
	padding-bottom: 5px;
}

.quantity label {
	margin-right: 5px;
	font-size: 17px;
	font-family: Open Sans, sans-serif;
	font-style: italic;
}

