header {
	height: 40em;
	left: 0;
	margin-bottom: 5em;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

/*product styles*/
.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	margin: 3em 10em 0 10em;
	justify-content: center;
	column-gap: 4em;
	row-gap: 3em;
}

.product {
	background-color: #fff;
	margin: auto;
	padding: 40px;
	text-align: center;
	width: auto;
	border: dashed #F572A1 2px;
}

.product img {
	max-width: 100%;
	height: 300px;
	width: 300px;
	object-fit: cover;
	margin-bottom: 20px;
	border-radius: 10%;
}

.product p {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 20px;
	color: #f572a1;
}

/*filter styles*/
.filter-div {
	display: inline-block;
}

label {
	font-family: 'Lucidia Sans';
	font-size: 18px;
	margin-right: 10px;
}

select {
	border-radius: 10px;
	height: 30px;
	margin-right: 30px;
	padding: 0 10px 0 10px;
}

/*page navigation styles*/
#pagination {
	text-align: center;
	margin-top: 5%;
}

#prev-page {
	display: none;
	background-color: #F572A1;
	color: white;
	border: none;
	border-radius: 5em 1em 1em 5em;
	padding: 10px 20px;
	margin: 20px auto;
	width: 100px;
	margin-top: 5%;
}

#next-page {
  display: inline-block;
  background-color: #F572A1;
  color: white;
  border: none;
  /* border-radius: 1em 5em 5em 1em; */
  border-radius: none;
  padding: 10px 20px;
  margin: 20px auto;
  width: 100px;
  margin-top: 5%;
}

#prev-page:hover, #next-page:hover {
	background-color: #ff8ab5;
	transform: scale(1.04);
}