* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	color: #333
}

/*header styles*/
header {
	position: relative;
	background-color: #8c877e;
	padding: 0%;
	height: 80px;
	width: auto;
}

header img{	
	height: 150px;
	margin: 0 auto;
	display: block;
}

header nav{
position: absolute;
bottom: 0;
width: auto;
}

nav ul {
	list-style: none;
	display: flex;
	width: auto;
}

nav li {
	padding: 30px;
	width: auto;
}

nav a {
	color: #333;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
	font-size: 28px;
	font-weight: 600;
	width: auto;
}

nav a:hover{
	color: #555;
}

.banner {
	background-image: url("bannerimage.jpg.avif");
	background-size: cover;
	background-position: center;
	display: flex;
	height: 500px;
	flex-direction: column;
	align-items: center stretch;
	justify-content: center;
	text-align: center;
	color: #fff;
}

.banner h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 200px;
	opacity: 60%;
	margin-bottom: 10px;
    color: black;
}

.banner p {
	font-size: 18px;
	margin-bottom: 20px;
}

.btn {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.btn:hover {
	background-color: #555;
}

/*product styles*/
.products {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.product {
	background-color: #fff;
	margin: auto;
	padding: 50px;
	text-align: center;
	width: auto;
}

.product img {
	max-width: 100%;
	height: 300px;
	margin-bottom: 20px;
	border-radius: 10%;
}

.product p {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
	color: #f572a1;
}

/*filter styles*/
.filter-div {
	display: inline-block;
}

label {
	font-family: 'Lucidia Sans';
	font-size: 18px;
	margin-right: 10px;
}

select {
	border-radius: 10px;
	height: 30px;
	margin-right: 30px;
}

/*pagination styles*/
#pagination {
	text-align: center;
}

#prev-page,
#next-page {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  width: 100px;
}

/*footer styles*/
footer {
	background-color: #CD4274;
	text-align: center;
	position: static;
	display: flex;
	bottom: 0;
	width: 100%;
}

.footer-column ul{
	list-style: none;
}

.footer-column{
	width: 33.33%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.footer-column h3{
	color: #d9d9d9;

}

.footer-column a{
	color: #fff;
	padding-top: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
}