header {
	height: 40em;
	left: 0;
	margin-bottom: 5em;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

#hero {
	height: 40em;
	width: 100%;
	background-image: url('../Resources/Images/cakesTables.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: grid;
	justify-content: center;
}

#page-title {
	font-size: 10em;
	color: rgb(0, 0, 0);
	position: relative;
	top: 0.2em;
}

#page-location {
	color: rgb(0, 0, 0);
	font-size: large;
	font-weight: 600;
	text-align: center;
	position: relative;
	top: -10em;
} 

.btn:hover {
	background-color: #555;
}

/*product styles*/
.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	margin: 3em 10em 0 10em;
	justify-content: center;
	column-gap: 4em;
	row-gap: 3em;
}

.product {
	background-color: #fff;
	margin: auto;
	padding: 40px;
	text-align: center;
	width: auto;
	border: dashed #F572A1 2px;
}

.product img {
	max-width: 100%;
	height: 300px;
	width: 300px;
	object-fit: cover;
	margin-bottom: 20px;
	border-radius: 10%;
}

.product p {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 20px;
	color: #f572a1;
}

/*filter styles*/
.filter-div {
	display: inline-block;
}

label {
	font-family: 'Lucidia Sans';
	font-size: 18px;
	margin-right: 10px;
}

select {
	border-radius: 10px;
	height: 30px;
	margin-right: 30px;
	padding: 0 10px 0 10px;
}

/*pagination styles*/
#pagination {
	text-align: center;
}

#prev-page, #next-page {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  width: 100px;
}

/*footer styles*/
footer {
	background-color: #CD4274;
	text-align: center;
	position: static;
	display: flex;
	bottom: 0;
	width: 100%;
}

.footer-column ul{
	list-style: none;
}

.footer-column{
	width: 33.33%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.footer-column h3{
	color: #d9d9d9;

}

.footer-column a{
	color: #fff;
	padding-top: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
}